body {
    background-color: cornflowerblue;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#main-play-area {
    background-image: url('./img/space.png');
    background-color: black;
    margin-top: 150px;
    height: 650px;
    width: 650px;
}

.player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 30px;
    top: 250px;
}

.laser {
    position: relative;
    height: 30px;
    width: 40px;
}

.alien {
    position: relative;
    height: 60px;
    width: 70px;
}

.alien-transition {
    transition: opacity 1.5s ease-in-out;
    opacity: 1;
}

.dead-alien {
    position: relative;
    height: 60px;
    width: 70px;
    opacity: 0;
}